<div *ngIf="!opened" style="border-top: 1px solid #c6d0da;">
  <!--<saving-account></saving-account>
  <current-account></current-account>-->
  <div class="row" style="margin: 15px 0px 0px;height: 50px;">
    <div class="col-6" style="text-align: center;">
      <span style="color:#32465A;">Saving Account</span>
    </div>
    <div class="col" style="text-align: center;">
      <!--<span style="color:#32465A;"><i class="fa fa-inr"></i>  <b>12,000</b></span>-->
      <span style="font-size: 18px;"><b>1234567890</b></span>
    </div>
  </div>

  <div class="row" style="margin: 0px;height: 50px;">
    <div class="col" style="text-align: center;">
        <span style="color:#32465A;font-size: 25px;"><i class="fa fa-inr"></i>  <b>12,000</b></span>
    </div>
  </div>

  <div class="row menu-main-block-style" style="border-bottom: 1px solid #fff;">
    <div class="col-6 menu-contain-center" style="border-right: 1px solid #fff;">
      <div><i class="menu-icon fa fa-inr"></i></div>
      <div><span>Account</span></div>
    </div>
    <div class="col menu-contain-center">
        <div><i class="menu-icon fa fa-random"></i></div>
        <div><span>Transfer</span></div>
    </div>
  </div>
  <div class="row menu-main-block-style" style="border-bottom: 1px solid #fff;">
    <div class="col-6 menu-contain-center" style="border-right: 1px solid #fff;">
      <div><i class="menu-icon fa fa-suitcase"></i></div>
      <div><span>Investment</span></div>
    </div>
    <div class="col menu-contain-center">
        <div><i class="menu-icon fa fa-street-view"></i></div>
        <div><span>Insurance</span></div>
    </div>
  </div>
  <div class="row menu-main-block-style">
    <div class="col-6 menu-contain-center" style="border-right: 1px solid #fff;">
      <div><i class="menu-icon fa fa-key"></i></div>
      <div><span>Security</span></div>
    </div>
    <div class="col menu-contain-center">
        <div><i class="menu-icon fa fa-credit-card"></i></div>
        <div><span>Credit Card</span></div>
    </div>
  </div>
</div>